*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --navBar-bg-color: #22a6f2;
  --primary-color: #fff;
  --shodow: rgba(60, 66, 87, 0.12) 0px 0px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  --errors: red;
}

#main-container {
  width: 100%;
  max-width: 1370px;
  margin: auto;
  padding: 10px;
}
